footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 6rem;
  background-color: #222;
  color: white;
}

footer #help-map-icon-logo {
  width: auto;
  height: 70px;
}

footer p {
    margin: 0;
    font-size: 2rem;
}

.social-medias {
  display: flex;
  gap: 3rem;
}

.social-medias a {
    color: white;
    font-size: 4rem;
    margin-left: 1rem;
    transition: color 0.3s ease;
}

footer .social-medias a:hover {
    color: #ffb703;
}