header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  position: absolute;
  z-index: 1;
  width: 100%;
}

header #help-map-logo {
  width: auto;
  height: 60px;
}

header #menu {
  display: flex;
}

header #menu li {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 30px;
}

header #menu a {
  color: var(--bg);
  transition: color 0.2s ease-in;
}

header #menu a:hover {
  color: var(--yellow);
}

header #menu #login-button {
  background-color: var(--light-green);
  padding: 6px 30px;
  border-radius: 100px;
}


/* MAPA INTERATIVO*/
header #logout-button {
  text-align: center;
}

header #logout-button img {
  width: auto;
  height: 60px;
  padding-right: 5px;
}

header #logout-button p {
  text-align: center;
  color: var(--bg);
  font-size: 14px;
  padding-left: 5px;
}


@media (max-width: 1290px) {
  header #menu li {
    font-size: 1.7rem;
  }
}

@media (max-width: 1125px) {
  header #menu li {
    font-size: 1.4rem;
    margin: 0 20px;
  }
}

@media (max-width: 1010px) {
  header #menu li {
    font-size: 1.4rem;
    margin: 0 20px;
  }
}

@media (max-width: 975px) {
  header #menu li {
    margin: 0 10px;
  }

  header #help-map-logo {
  width: auto;
  height: 40px;
}
}

@media (max-width: 880px) {
  header #menu li {
    font-size: 1.2rem;
    margin: 0 8px;
  }
}

@media (max-width: 770px) {
  header #menu li {
    font-size: 1rem;
    margin: 0 8px;
  }
}

@media (max-width: 700px) {
  header #menu li {
    margin: 0 5px;
  }
}

@media (max-width: 650px) {
  header #menu li {
    display: none;
  }
}