/* MAIN BANNER */
.main-banner.home {
    height: 80rem;
    background: url(/imgs/banner/banner-home.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.texts_banner_home {
    padding: 4rem;
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.texts_banner_home h1 {
    font-size: 4rem;
    font-weight: 700;
}

.texts_banner_home p {
    font-size: 1.5rem;
    font-weight: 400;
}

.texts_banner_home button {
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #FFB703;
    border: none;
    padding: 1rem 2rem;
    border-radius: 16px;
    width: fit-content;
    color: white;
}


/* PROBLEM */
.container-problem {
    display: flex;
    justify-content: space-between;
    padding: 10rem 4rem;
}

.container-problem .texts {
    display: flex;
    flex-direction: column;
    color: black;
    gap: 1rem;
    width: 40%;
}

.container-problem .texts h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.container-problem .texts p {
    font-size: 1.2rem;
}

.container-problem .texts button {
    font-size: 1.2rem;
    font-weight: 400;
    background-color: #FFB703;
    border: none;
    padding: 1rem 2rem;
    border-radius: 16px;
    width: fit-content;
    color: white;
    margin-top: 1.5rem;
}


/* PROBLEM PHOTOS */
.container-problem .photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.container-problem .photos .photo-line {
    display: flex;
    gap: 3rem;
}

.container-problem .photos .photo.one {
    width: 400px;
    height: 120px;
    background: url(/imgs/problems/problem-one.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.container-problem .photos .photo.two {
    width: 200px;
    height: 120px;
    background: url(/imgs/problems/problem-two.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.container-problem .photos .photo.three {
    width: 200px;
    height: 120px;
    background: url(/imgs/problems/problem-three.png) center center no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.container-problem .photos .photo.four {
    width: 400px;
    height: 120px;
    background: url(/imgs/problems/problem-four.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.container-problem .photos .photo.five {
    width: 400px;
    height: 120px;
    background: url(/imgs/problems/problem-five.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.container-problem .photos .photo.six {
    width: 200px;
    height: 120px;
    background: url(/imgs/problems/problem-six.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 16px;
}


/* SOLUTION */
.container-solution {
    padding: 10rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-red);
    color: var(--bg);
    gap: 10rem;
}

.container-solution .texts {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 2rem;
    font-weight: 700;
}

.container-solution .texts p {
    font-size: 1.2rem;
    font-weight: 400;
}

.container-solution .texts h2 {
    margin-bottom: 2rem;
}


/* ACTIONS */
.container-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 4rem;
    width: 100%;
}

.container-actions .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.container-actions .texts h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.container-actions .texts p {
    font-size: 1.5rem;
    font-weight: 400;
}

.container-actions .actions {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-between;
    padding: 2rem 0;
}

.container-actions .actions .action {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 1.5rem;
    gap: 5%;
    width: 350px;
    height: 100%;
}

.container-actions .actions .action h3 {
    font-size: 1.5rem;
}

.container-actions .actions .action p {
    font-size: 1.2rem;
}


/* ACTIONS PHOTOS */
.container-actions .actions .action .photo {
    display: flex;
    width: 100%;
    height: 60%;
}

.container-actions .actions .action .photo img {
    display: flex;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}