.main-banner.quem-somos {
    height: auto;
    background: url(/imgs/banner/banner-quem-somos.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: white;
    width: 100%;
}

.main-banner.quem-somos div {
    margin: 0 6rem;
    margin-top: 20rem;
    margin-bottom: 8rem;
    z-index: 1;
}

.main-banner.quem-somos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.main-banner.quem-somos h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2;
}

.main-banner.quem-somos p {
    font-size: 2rem;
    width: 55%;
    font-weight: 400;
    margin: 3rem 0rem 3rem 0rem;
}

.main-banner.quem-somos button {
    font-size: 2rem;
    font-weight: 400;
    background-color: var(--yellow);
    border: none;
    padding: 1rem 2rem;
    border-radius: 16px;
    width: fit-content;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.container-mvv {
    padding: 10rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    align-items: center;
}

.box-mvv {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.box-mvv h2 {
    font-size: 3rem;
}

.box-mvv p {
    font-size: 2rem;
}

.values {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.values h2 {
    font-size: 3rem;
}

#line-values {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 3rem;
}

.values .value img {
    width: auto;
    height: 30px;
}

#line-values .value .title {
    font-size: 2rem;
    font-weight: 600;
}

#line-values .value p {
    font-size: 1.7rem;
}

.container-team {
    padding: 8rem 6rem;
    background-color: var(--yellow);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5rem;
}

.container-team h2 {
    font-size: 3rem;
    font-weight: 700;
}

.container-team p {
    font-size: 2rem;
    font-weight: 400;
    width: 70%;
}

.container-team .our-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 70%;
    margin-top: 2rem;
}

.container-team .our-team .member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 25%;

}

.container-team .our-team .member .photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.container-team .our-team .member .photo:hover {
    transform: scale(1.05);
}

.container-team .our-team .member .name {
    font-size: 2rem;
    font-weight: 600;
    color: #222;
    text-align: center;
    width: auto;
}

.container-team .our-team .member p:last-child {
    font-size: 1.8rem;
    color: #555;
    text-align: center;
    width: auto;
}

.container-team .our-team .member .photo.one {
    background-image: url(/imgs/team/photo-one.png);
}

.container-team .our-team .member .photo.two {
    background-image: url(/imgs/team/photo-two.jpg);
}

.container-team .our-team .member .photo.three {
    background-image: url(/imgs/team/photo-three.jpg);
}

.container-team .our-team .member .photo.four {
    background-image: url(/imgs/team/photo-four.jpg);
}

.container-team .our-team .member .photo.five {
    background-image: url(/imgs/team/photo-five.jpg);
}



@media (max-width: 768px) {
    .container-team .our-team {
        width: 90%;
        gap: 2rem;
    }

    .container-team .our-team .member {
        width: 100px;
    }

    .container-team .our-team .member .photo {
        width: 100px;
        height: 100px;
    }

    .container-team .our-team .member .name {
        font-size: 1rem;
    }

    .container-team .our-team .member p:last-child {
        font-size: 0.9rem;
    }
}

@media (max-width: 1515px) {
    .main-banner.quem-somos h1 {
        font-size: 5rem;
    }

    .main-banner.quem-somos p {
        font-size: 1.8rem;
        width: 50%;
    }

    .main-banner.quem-somos button {
        font-size: 1.8rem;
    }

}

@media (max-width: 1250px) {
    .values {
        gap: 5rem;
        width: 70%;
    }

    .value {
        width: 20rem;
    }

    #line-values {
        flex-wrap: wrap;
    }
}

@media (max-width: 1010px) {
    .main-banner.quem-somos p {
        font-size: 1.5rem;
        width: 65%;
    }

    .main-banner.quem-somos h1 {
        font-size: 4rem;
    }

    .values .value img {
        height: 20px;
    }

    #line-values .value .title {
        font-size: 1.5rem;
    }

    #line-values .value p {
        font-size: 1.5rem;
    }

    .box-mvv h2 {
        font-size: 2rem;
    }

    .box-mvv p {
        font-size: 1.5rem;
    }

    .values h2 {
        font-size: 2rem;
    }

    .values {
        gap: 3rem;
        width: 70%;
    }

    .container-mvv {
        padding: 7rem 6rem;
        gap: 5rem;
    }

    .container-team {
        padding: 6rem 6rem;
        gap: 3rem;
    }

    .container-team h2 {
        font-size: 2rem;
    }

    .container-team p {
        font-size: 1.5rem;
    }

    .container-team .our-team {
        margin-top: 1.5rem;
    }

    .container-team .our-team .member .photo {
        width: 12rem;
        height: 12rem;
    }

    .container-team .our-team .member .name {
        font-size: 1.5rem;
    }

    .container-team .our-team .member p:last-child {
        font-size: 1.3rem;
    }
}

@media (max-width: 770px) {
    .container-team .our-team .member .photo {
        width: 10rem;
        height: 10rem;
    }
}

@media (max-width: 650px) {
    .main-banner.quem-somos {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .main-banner.quem-somos div {
        margin-top: 10rem;
        text-align: center;
    }

    .main-banner.quem-somos h1 {
        font-size: 3.5rem;
    }

    .main-banner.quem-somos p {
        font-size: 1.5rem;
        width: 100%;
    }

    .main-banner.quem-somos button {
        font-size: 1.5rem;
    }
}